.hidden{
  display: none;
}

section>ul.card{
  border: 1px solid #000;
  width: 345px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 20px;
}

section.card-section li{
margin: 3px 0;
}

.red-dot {
    list-style: none;
  }
  
.red-dot::before {
    content: "\2022";  /*2022 is the CSS Code/unicode for a bullet*/
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }